canvas 
{
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;           
    image-rendering: pixelated;              
    -ms-interpolation-mode: nearest-neighbor;  
    -ms-touch-action: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: black;
    color: white;
    overflow: hidden;
    width:100%;
    max-width: 800px;
    max-height: 600px;
    pointer-events: auto;
}

div.gm4html5_div_class
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
