
 @font-face 
 {
    font-family: Rajdhani;
    src: url(/css/Rajdhani.ttf);
 }

 @font-face
 {

    font-family: RajdhaniB;
    src: url(/css/RajdhaniB.ttf);
 }

.header
{
	font-family: RajdhaniB, Arial, "Segoe UI",  sans-serif;
	margin:0px;
}
.important
{
	font-size: 30px;
}

body
{
    background-color: rgb(150,170,150);
    font-family: Rajdhani, Arial, "Segoe UI",  sans-serif;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#mainMenu
{
	z-index: 50;
	cursor: pointer;
}
#mainMenu, #navSmall
{
	transition: .30s;
}

#mainMenu:hover, #navSmall:hover
{
	opacity: 1.0;
}

.topMenu
{
	background-color: rgb(244,244,244);
}

i
{
	-webkit-animation:spin .9s;
	-moz-animation:spin .9s;
	animation:spin .9s;
}

#name
{
	font-size: 50px;
}

header
{
	background-image: url(/img/common/Logo.jpg);
  	text-align: center;
	margin-top:49px;
	color: white;
	margin-bottom: 0px;
}

header p
{
	display: inline-block;
	margin: 12px;
}

#contentWrap
{
	background: linear-gradient(rgb(200,210,200), rgb(150,170,150));
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

#contentWrap a
{
	color: rgb(58,83,8);
	transition: 0.2s;
}
#contentWrap a:hover
{
	color: rgb(36,78,34);
	transition: 0.2s;
}
hr
{
	border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 6px 2px white;
}

hr:after
{
 content: "\00a0";  /* Prevent margin collapse */
}
footer
{
	background-image: url(/img/common/Footer.jpg);
	color: rgb(244,244,244);
	width: 100%;
}

footer p
{
	margin: 0;
	padding: 0;
}

#toTop
{
	position: fixed;
	display: none;
	right: 10px;
	bottom: 10px;
	opacity: 0.6;
}
#toTop:hover
{
	opacity: 1.0;
}

.javascript
{
	display: none;
}