body
{
	background: linear-gradient(rgb(200,210,200), rgb(150,170,150));
	margin: 0px;
	padding: 0px;
}

#infoContent
{
	margin: 0px;
	padding:30px;
}
#infoContent p
{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}


#infoContent ul
{
	font-size: 20px;
}

.commandInfo
{
	margin-left: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	display: inline-block;
	background-color: rgb(39,40,44);
	color: white;
}
.greenCommand
{
	color: rgb(166,226,46);
}
.redCommand
{
	color: rgb(249, 38, 114);
}
.blueCommand
{
	color: rgb(102,217,239);
}
