html{background:linear-gradient(#c8d2c8,#96aa96);min-height:100vh;padding: 0 0.25in;}
body{max-width:8in;margin-left:auto; margin-right:auto;font-family:sans-serif;}
span{font-family:monospace;}
.nowrap{white-space:nowrap;}
h2,h1{text-align:center; margin:0.4in -0.25in 0.15in -0.25in;padding:0.1in;background-color: rgba(255,255,255,0.15);}
aside{font-style:italic;font-size:10pt;margin-bottom:0.1in;}
a{color:#3a5308;transition:.2s}
a:hover{color:#244e22}
.links li{display:inline-block;}
ul.wide{columns:2;}
hr{margin:0.5in -0.25in;color:rgba(255,255,255,0.35);}
li{margin:0 0 0.075in -0.1in;}
img,.screenshots,iframe{width:calc(100% + 0.5in);margin: 0 -0.25in;text-align:center;}
.screenshots img{width:43%; margin:0.1in;}
.back{position:absolute;margin-top:-0.3in;}
section{text-align:center;}
section p, section ul, section ol, section p, section aside{text-align:left;}
