@font-face 
{
	font-family: "Rajdhani";
	src: url("/fonts/Rajdhani-Regular.ttf");
}

@font-face 
{
	font-family: "Rajdhani";
	src: url("/fonts/Rajdhani-Bold.ttf");
	font-weight: bold;
}

*
{
	text-decoration: none;
	font-family: "Rajdhani", Arial;
	color: black;
	margin:0;
	padding:0;
	letter-spacing: 0.04vmax;
}

html,body
{
	padding:0;
	margin:0;
}

body
{
	background-color: rgb(12,38,14);
	background-image: url("/img/Logo.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
}

#menuPane
{
	transition:0.27s;
}

.menuPaneD
{
	float:left;
	width:calc(100% / 12 * 4);
	height:100vh;
    overflow: hidden;
}

.menuPaneM
{
	position:fixed;
	width: 102%;
	height:8vh;
}

.opacityMenu
{
	opacity:0.7;
}

#menuElement
{
	position:relative;
	z-index:1;
	background-color: rgb(244,244,244); /*background: linear-gradient(90deg, rgb(237,237,237), rgb(210,210,210));*/
	box-shadow: 0 0 0.25vh rgba(0,0,0,0.9);
	transition:0.27s;
}

.menuElementD
{
	display: flex;
	align-items: flex-start; 
	justify-content: center;
	align-content: center;
	flex-flow:column nowrap;
	padding-left:5%;
	min-width:calc(100% - 2vw);
	min-height:0;
}

.menuElementM
{
	display: flex;
	align-items: center; 
	float:left;
	min-width: 0;
	min-height:8vh;
	text-align: center;
}

#menuElement.menuElementD:hover:not(.selectedMenuElement)
{
	background-color: rgb(204,204,204); /*background: linear-gradient(90deg, rgb(217,217,217), rgb(190,190,190));*/
	min-width:calc(100% - 1vw);
}

a:active #menuElement.menuElementD:not(.selectedMenuElement), #menuElement.selectedMenuElement:not(.menuElementM)
{
	background-color: rgb(139,195,74); /*background: linear-gradient(90deg, rgb(161,222,91), rgb(139,195,74));*/
	min-width:calc(100% - 1vw);
	transition:0.12s;
}

#menuElement.menuElementM:hover:not(.selectedMenuElement)
{
	background-color: rgb(204,204,204);
	min-height:10vh;
}

a:active #menuElement.menuElementM:not(.selectedMenuElement), #menuElement.selectedMenuElement:not(.menuElementD)
{
	background-color: rgb(139,195,74);
	min-height:10vh;
	transition:0.12s;
}

.menuLongTitle, .menuShortTitle
{
	width: 95%;
	color: black;
	overflow: hidden;
	white-space: nowrap;
}

.contentPaneD
{
	float:left;
	overflow-y: scroll;
	width:calc(100% / 12 * 8);
	height:100vh;
}

.contentPaneM
{
	width:100%;
	height:auto;
	padding-top: 8vh;
}

#pageTitle
{
	display: flex;
	align-items: center; 
	justify-content: center;
	background-color: rgba(0,0,0,0.67);
}

#pageSubTitle
{
	display: flex;
	align-items: center; 
	justify-content: center;
	flex-flow:column nowrap;
	background-color: rgba(0,0,0,0.67);
	font-size:calc(5px + 4vmin);
}

.pageTitleD, .pageSubTitleD, .pageTitleM
{
	height:22vh;
}

.pageSubTitleM 
{
	height:14vh;
}

#pageTitle p
{
	border-left: 1vmin solid rgb(50,250,74);
	padding-left: 2vmin;
	font-weight: bold;
	font-size:calc(12px + 8vmin);
}

#pageImage
{
	image-rendering: pixelated;
	display: block;
	margin: 3vh auto 3vh;
	height:	50vh;
}

#pageSubTitle p
{
	padding: 0;
	margin:0.5vmin;
	display:block;
}

.smallerFont
{
	font-size:calc(4px + 2vmin); !important
}

.whiteText *
{
	color:white;
}

.solidBG
{
	background: linear-gradient(rgb(200,210,200), rgb(150,170,150));
}

#textArea
{
	padding:calc(6px + 2.5vmin);
	font-size:calc(6px + 2.5vmin);
	line-height:calc(20px + 0.9vmax);
}

#textArea p
{
	margin:1.5vmax 0 1.5vmax 0;
}