
#productInformation
{
	float:none;
	text-align: center;
	margin-right:auto;
	margin-left: auto;
}

#productImage
{
	border-radius: 5px;
	margin: 0px;
	padding:0px;
	width:90%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#productImage img
{
	width: 100%;
	margin: 0px;
	padding:0px;
}

#information p
{

	line-height: 25px;
}
.contentInfo
{
	font-size: 20px;
	width: 100%;
	//background-color: rgb(230,230,230);
	margin: 0px;
	padding:0px;
}

.noBackground
{

	background: linear-gradient(rgb(200,210,200), rgb(150,170,150));
	color: black;
	padding:16px;
	padding-bottom: 28px;
}
.onBackground
{
	background-image: url('/img/common/Logo.jpg');
	color: white;
	padding:16px;
	padding-bottom: 16px;
}

#featureBox
{
	margin: 0px;
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
	width:90%;
}

#featureBox p
{

	margin-top: 10px;
	margin-left:15px;
	text-align:left;
}

#slideshowWrap
{
	max-width:600px;
	position:relative;
}

#slideshowWrap img
{
	transition:0.2s;
	width:100%;
}
#btnSlideshowL
{
	position:absolute;
	left:30px;
	bottom:30px;
}

#btnSlideshowR
{
	position:absolute;
	right:30px;
	bottom:30px;
}
