#card
{
	border: 2px solid rgb(70,92,58); 
	border-radius: 5px;
	margin: 0px;
	margin-top:10px;
	margin-bottom:10px;
	padding:0px;
	transition: 0.2s;
	width:90%;
}

#card img
{
	border-radius: 5px 5px 0px 0px;
	background-color: rgb(244,244,244);
	width: 100%;
	margin: 0px;
	padding:0px;
}

#card div
{
	font-size: 20px;
	color: black;
}